*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #151515;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    color: #ffffff;
    margin-top: 12px;
}
nav ul{
    display: flex;
    align-items: center;
    margin-top: 7px;
} 
nav ul li {
    list-style: none;
    align-items: center;

}
.list-1 li{
    margin-right: 50px
}
.list-2 li {
    margin-right: 12px;
}
.nav-list-img{
    position: relative;
    left: 35px;
}
.nav-list-img img{
    margin-top: 4px;
    position: relative;
    z-index: -1;
}

.main-div{
    display: flex;
    
    color: #ffffff;
}
.leftsection{
    position: relative;
    left: 150px;
    width: 70%;
    top: 75px;
}
.rightsection{
    width: 30%;
}
.backcard{
    position: absolute;
    z-index: -1;
    right: 40px;
    bottom: 25px;
}
.frontcard{
    position: relative;
   right: 260px;
}
.leftsection-div-1{
    width: 82%;
}
.leftsection-p1{
    font-size: 85px;
}
.leftsection-p1-strong{
    color: #F637EC;
}
.leftsection-div-2{
    position: relative;
    margin-top: 40px;
    width: 55%;
    color: #BCBCBC;
}
.leftsection-p2{
    font-size:23px ;
}
.leftsection-div-3{
    position: relative;
    margin-top: 90px;
}
.leftsection-ul{
    display: flex;
    align-items: center;
}
.leftsection-ul li {
    list-style: none;
    
}
.leftsection-ul li p{
    position: relative;
    font-size: 20px;
    right: 30px;

}
.leftsection-ul-first-img{
    position: relative;
    width: 60px;
    margin-top: 2px;
}

.leftsection-ul-second-img{
    position: relative;
    width: 50px;
    margin-top: 8px;
    right: 15px;
}
.leftsection-div-4{
    position: relative;
    display: flex;
    top: 65px;
}
.leftsection-div-4{
    height: 3opx;
}