.banner{
    background-color: yellow;
    color: white;
}

.navbar{
    background-color: aqua;
    color: green;
}
.crowler{
    background-color: blue;
    color: yellow;
}
.hero{
    background-color: chocolate;
    color: white;
}
.achiver{
    background-color: crimson;
    color: white;
}
.hall{
    background-color: darkmagenta;
    color: green;
}