@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    height: 100vh;
    background-color: #03203C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyCodeAndName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.keyCode{
    color: #758283;
    font-size: 250px;
    font-weight: 800;
}

.keyName{
    color: #CAD5E2;
    font-size: 30px;
    font-weight: 600;
}