*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    font-family: sans-serif;
    background-image: url('./Photos/mainImage.png');
    background-repeat: no-repeat;
    background-size: 200px;
   /* background-position-y: -20px;
   background-position-x: 300px; */
   background-position: 30% -50px;
  padding-left: 150px;
  padding-top: 50px;
  padding-right: 80px;
} 
nav{
    display: flex;
    gap: 45%;
}
.nav-div{
    display: flex;
    align-items: center;
    gap: 10%;
}
nav ul{
    display: flex;
    color: #FFFFFF;
    
}
nav ul li{
    list-style: none;
    
    
}