* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: sans-serif;
    background-image: url('./Photos/mainImage.png');
    background-repeat: no-repeat;
    background-size: 200px;
    /* background-position-y: -20px;
   background-position-x: 300px; */
    background-position: 30% -50px;
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 80px;
}

nav {
    display: flex;
    gap: 45%;
}

.nav-div {
    display: flex;
    align-items: center;
    gap: 10%;
}

nav button {
    font-size: 11px;
    padding: 9px 35px;
    background-color: #1E1E21;
    color: #FFFFFF;
}

nav ul {
    display: flex;
    color: #FFFFFF;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

.hero {

    margin-top: 50px;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
}

.hero-sec-element {
    width: 53%;

    height: 83%;
    background-image: url('./Photos/onEar.png');
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: 45px 2px;
    color: #FFFFFF;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 22px;
}

.hero-sec-element h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.hero-sec-element h3 {
    color: #F1F1F2;
}

.hero-sec-element p {
    font-size: 11px;
    color: #989A9C;
    width: 36%;
    line-height: 20px;
}

.hero-sec-inside-div {

    width: 22%;
    height: 45px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    background-color: #1E1E21;
}

.hero-sec-inside-div img {
    width: 15px;
}

.hero-sec-logo {
    width: 52%;

    height: 60px;
    display: flex;
    padding-left: 328px;
    padding-right: 328px;
    justify-content: space-around;
    align-items: center;
}

.img-1 {
    width: 60px;
    height: 18px;
}

.specs-sec {
    width: 100%;
    height: 410px;
    margin-top: 50px;

    display: flex;
    justify-content: center;
}

.specs {
    width: 45%;
    height: 100%;

    background-image: url('./Icons/specsLogo.png');
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: 50% 0px;
    display: flex;
}

.specs-left {
    width: 45%;
    padding-top: 65px;
    height: 85%;
    padding-left: 120px;
}

.specs-right {
    width: 55%;
    height: 100%;


}

.specs-right img {
    text-align: center;
    margin-top: 70px;
    width: 250px;
}

.left-div1,
.left-div4 {
    color: #FFFFFF;
    height: 21%;
    width: 54%;

    line-height: 18px;
    padding-left: 35px;

}

.left-div2,
.left-div3 {
    color: #FFFFFF;
    height: 21%;
    width: 54%;

    line-height: 18px;
}

.left-div1 p,
.left-div4 p,
.left-div2 p,
.left-div3 p {
    font-size: 11px;
    color: #989A9C;
}

.left-div4 p {
    line-height: 12px;
    width: 90%;

}

.case-sec {
    width: 100%;
    height: 410px;
    margin-top: 70px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.case {
    width: 45%;
    height: 100%;

    background-image: url('./Icons/caseLogo.png');
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: 50% 0px;
    display: flex;
}

.case-left {
    width: 55%;
    padding-top: 65px;
    height: 85%;
   
}
.case-left img{
    width: 220px;
    margin-top: 30px;
    margin-left: 70px;
}
.case-right {
    width: 27%;
    height: 100%;
    
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:45px;
}
.case-right-div{
    width: 65%;
    height: 40px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1E1E21;
    border-radius: 5px;
    
}

.case-right>p{
    font-size: 12px;
    color: #989A9C;
    line-height:23px;
}
.case-right-div img{
    width: 17px;
}
.more{
    font-size:12px ;
    color: #FFFFFF;;
}