* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F0F10;
    font-family: sans-serif;
    background-image: url('./Photos/mainImage.png');
    background-repeat: no-repeat;
    background-size: 200px;
    /* background-position-y: -20px;
   background-position-x: 300px; */
    background-position: 30% -50px;
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 80px;
}

nav {
    display: flex;
    gap: 45%;
}

.nav-div {
    display: flex;
    align-items: center;
    gap: 10%;
}

nav button {
    font-size: 11px;
    padding: 9px 35px;
    background-color: #1E1E21;
    color: #FFFFFF;
}

nav ul {
    display: flex;
    color: #FFFFFF;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

.hero {

    margin-top: 50px;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
}

.hero-sec-element {
    width: 53%;

    height: 83%;
    background-image: url('./Photos/onEar.png');
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: 45px 2px;
    color: #FFFFFF;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 22px;
}

.hero-sec-element h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.hero-sec-element h3 {
    color: #F1F1F2;
}

.hero-sec-element p {
    font-size: 11px;
    color: #989A9C;
    width: 36%;
    line-height: 20px;
}

.hero-sec-inside-div {

    width: 22%;
    height: 45px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    background-color: #1E1E21;
}

.hero-sec-inside-div img {
    width: 15px;
}

.hero-sec-logo {
    width: 52%;

    height: 60px;
    display: flex;
    padding-left: 328px;
    padding-right: 328px;
    justify-content: space-around;
    align-items: center;
}

.img-1 {
    width: 60px;
    height: 18px;
}

.specs-sec {
    width: 100%;
    height: 410px;
    margin-top: 50px;

    display: flex;
    justify-content: center;
}

.specs {
    width: 45%;
    height: 100%;

    background-image: url('./Icons/specsLogo.png');
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: 50% 0px;
    display: flex;
}

.specs-left {
    width: 45%;
    padding-top: 65px;
    height: 85%;
    padding-left: 120px;
}

.specs-right {
    width: 55%;
    height: 100%;

}

.specs-right img {
    text-align: center;
    margin-top: 70px;
    width: 250px;
    transition: all 0.3s ease-in-out 0s;
}

.specs-right img:hover {
    cursor: pointer;
    transform: rotate(-180deg);

    transition: all 0.3s ease-in-out 0s;
}

.left-div1,
.left-div4 {
    color: #FFFFFF;
    height: 21%;
    width: 54%;

    line-height: 18px;
    padding-left: 35px;

}

.left-div2,
.left-div3 {
    color: #FFFFFF;
    height: 21%;
    width: 54%;

    line-height: 18px;
}

.left-div1 p,
.left-div4 p,
.left-div2 p,
.left-div3 p {
    font-size: 11px;
    color: #989A9C;
}

.left-div4 p {
    line-height: 12px;
    width: 90%;

}

.case-sec {
    width: 100%;
    height: 410px;
    margin-top: 70px;

    display: flex;
    justify-content: center;
}

.case {
    width: 45%;
    height: 100%;

    background-image: url('./Icons/caseLogo.png');
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: 50% 0px;
    display: flex;
}

.case-left {
    width: 55%;
    padding-top: 65px;
    height: 85%;

}

.case-left img {
    width: 220px;
    margin-top: 30px;
    margin-left: 70px;
    transition: all 0.3s ease-in-out 0s;
}

.case-left img:hover {
    cursor: pointer;
    transform: rotate(-360deg);
    transition: all 0.3s ease-in-out 0s;
}

.case-right {
    width: 27%;
    height: 90%;

    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-top: 50px;
    padding-left: 30px;
}

.case-right-div {
    width: 65%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1E1E21;
    border-radius: 5px;

}

.case-right>p {
    font-size: 12px;
    color: #989A9C;
    line-height: 23px;
}

.case-right-div img {
    width: 17px;

}

.below-case-right img {
    transition: all 0.3s ease-in-out 0s;
}

.below-case-right img:hover {
    cursor: pointer;
    transform: rotate(50deg);
    transition: all 0.3s ease-in-out 0s;

}

.more {
    font-size: 12px;
    color: #FFFFFF;
    ;
}

.below-case-sec {
    width: 100%;
    margin-top: 50px;
    height: 250px;


}

.below-case-ele {
    width: 65%;
    height: 100%;
    margin: auto;
    background-color: #181A1B;
    display: flex;
    border-radius: 15px;
}

.below-case-left {

    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

}

.left-1 {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    color: #fff;
}

.left-1>p {
    font-size: 13px;
    color: #989A9C;
}

.below-case-right {

    width: 53%;
    height: 100%;
}

.below-case-inside {
    width: 50%;

    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 13px;
}

.below-case-inside img {
    width: 16px;
}

.below-case-right img {
    width: 300px;
    margin-top: 30px;
}

.your-style {
    width: 100%;
    border: 1px solid red;
    margin-top: 70px;
    height: 700hpx;
    background-image: url('./Icons/productLogo.png');
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: 50% 0;
}

.headphone-sec {
    width: 50%;
    height: 70%;
    margin: auto;
    display: flex;
    padding-top: 200px;
    flex-wrap: wrap;
    gap: 35px;

}

.headphone-sec img {
    overflow: hidden;
    width: 70px;
    position: relative;
    left: 29%;
    transition: transform 0.5s;
}

.headphone-sec img:hover {
    /* -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.1); */
    transform: scale(1.3);
    cursor: pointer;
}

.headphone1 {
    width: 180px;

    height: 174px;
}

.headphone-text {
    width: 140px;

    height: 115px;
    z-index: -1;
    position: relative;
    bottom: 70px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    line-height: 20px;
    background-color: #181A1B;
}

.headphone-text p+p {
    font-size: 11px;
    opacity: 0.9;
}

.headphone-text img {
    width: 18px;
}

.text-right {
    background-color: #000000;
    height: 35px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}
footer{
    border: 1px solid blue;
    width: 100%;
    height: 300px;
    margin-top: 90px;
    background-image: url('./Icons/twitter.png');
    background-repeat: no-repeat;
    background-position: 8% 37%;
}
.footer-div{
    border: 1px solid purple;
width: 65%;
height: 100%;
margin: auto;
display: flex;
}
.left-footer-div{
width: 50%;
height: 100%;
border: 1px solid yellow;
background-image: url('./Photos/beatsLogo.png');
background-repeat: no-repeat;
background-position: 0 27%;
background-size: 25px;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.right-footer-div{
width: 50%;
height: 75%;
border: 1px solid white;
padding: 25px 0 45px 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20px;

}
.fleft-1{
    border: 1px solid red;
    width: 110px;
    height: 130px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.fleft-1 p{
    font-size: 12px;
    color:#989A9C ;
}
.fleft-1 h4{
    font-size: 13px;
}
.rright-1{
    width: 68%;
    height: 60px;
    border: 1px solid brown;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 10px;
    justify-content: space-between;
    border-radius: 8px;
}
.rright-1 p{
    font-size: 13px;
}
.rright-1>p{
    color: #989A9C;
}
.rright-2{
    border: 1px solid red;
    width: 40%;
    display: flex;
    justify-content: space-between;
}


.subscribe-div{
    width: 120px;
    border:1px solid #fff;
    height: 43px;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;

}