*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./Assets/Photos/futuristic-bg.png');
    background-position: center;
    background-size: cover;
    height: 65vh;
    margin: 1% 5%  0 7% ;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    /* gap: 10%; */
    color: #FFFFFF;
    justify-content: space-between;
    height: 7vh;
}
nav img{
    height: 40px;
    display: block;
    cursor: pointer;
}
nav ul{
    display: flex;
    flex: 0.8;
   
}
nav ul li{
    list-style: none;
    margin-right:25px;

}
nav ul li:hover{
color: #f39885;
cursor: pointer;

}

.nav-button button{
    padding: 10px 25px;
}
.btn-1{
    position: relative;
   background: transparent;
   color: #FFFFFF;
   border: transparent;
   
}
.btn-1:hover{
    background-color: #F4694C;
    cursor: pointer;
}
.btn-2{
    margin-left: 3px;
    background-color: #F4694C;
    cursor: pointer;
    color: #FFFFFF;
}
.btn-2:hover{
    background-color: #FFFFFF;
    color: #F4694C;
}
.hero-sec{
    /* border: 1px solid blue; */
    margin-top: 160px;
    height: 60vh;
    display: flex;
}
.hero-left{
/* border: 1px solid purple; */
width: 50%;
/* height: 60vh; */
height: 482px;
display: flex;
flex-direction: column;
justify-content: start;
color: #FFF;
gap: 7%;
}
.hero-left h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    width: 60%;
}
.hero-left p{
    /* margin-top: 3%; */
    font-size: 13px;
    color: #B4AFB0;
    width: 55%;
    line-height: 20px;
}
.left-hero-sec-div{
    display: flex;
    gap:3% ;
    margin-top: 10px;
}
.hero-left button{
    padding: 14px 25px;
}
.hero-left button :hover{
    cursor: pointer;
}
.left-btn1{
    background-color: #F4694C;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #F4694C;
}
.left-btn2{
    background: transparent;
    color: #B3B2B2;
    border: 1px solid #FFF;
}
.left-btn1:hover{
    background-color:#FFF;
    color: #F4694C;
    cursor: pointer;
    border: 1px solid #fff;
}
.left-btn2:hover{
    background-color:#FFF;
    color: #F4694C;
    cursor: pointer;
}
.hero-right{
    /* border: 1px solid red; */
    width: 50%;
    height: 52vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-sec-logo{
    margin-top: 110px;
}
.right-sec-img1{
    height: 65px;
    
}
.right-sec-img1:hover{
    cursor: pointer;
    height:68px ;
}
.right-sec-dash{
width: 30px;
display: block;
position: relative;
bottom: 33%;
}

.right-sec-dash2{
width: 43px;
display: block;
position: relative;
margin-top: 65px;
margin-left: 40px;

}
.right-sec-text{
    margin-left: 5%;
    margin-top: 110px;
    display: flex;
    color: #FFF;
    gap: 10px;
}
.right-sec-text p{
font-size: 20px;
opacity: 90%;
width: 180px;
line-height: 30px;
}
.popular-games-sec{
    /* height: 85vh; */
    height: 692px;
    border: 1px solid gold;
}

.popular-game-div{
    /* border: 1px solid green; */
    margin-top: 140px;
    /* height: 59vh; */
    height: 470px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.games-p{
    /* width: 80%; */
    margin-left: 35%;
    font-size: 200%;
    font-weight: 800;
}

.p1{
    margin-left: 10%;
}
.p2{
    width: 65%;
}
.popular-games-img{
    display: flex;
    gap: 20px;
    
}
.games-card{
    width: 50%;
    /* height: 40vh; */
    height: 322px;
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;

}
.games-card button:hover{
    cursor: pointer;
    font-weight: bold;
}
.games-card1{
    width: 50%;
    /* height: 40vh; */
    height: 322px;
    /* border: 1px solid orangered; */
    background-image: url('./Assets/Photos/image\ 2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s;

}
.games-card1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.games-card2{
    width: 50%;
    /* height: 40vh; */
    height: 322px;
    /* border: 1px solid orangered; */
    background-image: url('./Assets/Photos/image\ 4.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s;

}
.games-card2:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.games-card2 .games-text{
    background-color: #221F17;
}
.games-card3{
    width: 50%;
    /* height: 40vh; */
    height: 322px;
    /* border: 1px solid orangered; */
    background-image: url('./Assets/Photos/image\ 3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s;

}
.games-card3:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.games-card3 .games-text{
    border-color: #474B7E;
}
.games-card4{
    width: 50%;
    /* height: 40vh; */
    height: 322px;
    /* border: 1px solid orangered; */
    background-image: url('./Assets/Photos/Rectangle\ 56.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s;

}
.games-card4:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.games-text{
   padding: 15px;
    /* border: 1px solid rebeccapurple; */
    height: 80px;
    color: #fff;
    background-color: #45494C;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 210px;
   
}
.games-text-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px ;
    /* border: 1px solid red; */

}

.games-text-button p{
    color:#8D9090 ;
}
.games-text-button button{
    padding: 10px 18px;
    background-color: #F4694C;
    color: #FFF;
    border: 1px solid #F4694C;
}
.war-game{
    height: 390px;
    width: 100%;
    border: 1px solid red;
    margin-top: 20px;
    display: flex;
    /* padding: 20px 60px 10px 0; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:100px ;
}
.war-game-img{
    width: 50%;
    height: 340px;
    border: 1px solid yellow;
}
.war-game-img img{
    display: block;
     width: 100%;
    height: 100%; 
    
}
.war-game-text{
    width: 50%;
    border: 1px solid green;
    height: 340px;
}
.war-games-text-eleemt{
    padding: 22px  60px 22px 0;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid brown;
}
.war-games-text-eleemt h1{
    font-size: 30px;
    font-weight: 800;
    text-indent: 0;
}
.war-games-text-eleemt p{
    font-size: 13px;
    line-height: 22px;
    opacity: 60%;
}
.war-games-button{
    display: flex;
    gap: 15px;
}
.war-games-button button{
    padding:12px 25px ;
    cursor: pointer;
}
.war-games-button1{
    background-color: #F4694C;
    color: #fff;
    border: 1px solid #F4694C;
    font-size: 12px;
    font-weight: bold;
}
.war-games-button2{
    background: transparent;
    border: 1px solid #F4694C;
    color: #F4694C;
    font-size: 12px;
}
.war-games-button1:hover{
    background-color: #fff;
    color: #F4694C;
}
.war-games-button2:hover{
    background-color: #F4694C;
    color: #fff;
}
.recommended{
    border: 2px solid black;
    margin-top: 100px;
    height: 800px;
    /* height: 100vh; */
    /* padding: 80px 5px 0 0; */
}
.recommended button:hover{
cursor: pointer;
background-color: #FFF;
color: #F4694C;
}
.recommended-heading{
    height: 100px;
    border: 1px solid purple;
}

.recommended-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.recommended-heading h1{
    font-weight: 700;
    font-size:30px ;
    width: 400px;

}
.left{
    width:30px ;
    
}
.right{
    width: 30px;
    
}
.recommended-arrow{
    display: flex;
    gap: 20px;
    align-items: center;
   
}
.recommended-arrow div:hover{
    cursor: pointer;
    transform: scale(1.1);

}
.arrow1{
    /* width: 45px;
    height: 40px; */
    
    padding: 20px 25px;
    background-color: #FDE1DB;
    transition: transform 1s;
    
}
.arrow2{
    /* width: 45px;
    height: 40px; */
    padding: 20px 25px;
    background: #F4694C;
    transition: transform 1s;
    
}
.recommended-games{
    /* height: 90%; */
    width: 100%;
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    
}
.games1{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    gap: 22px;
}
.games1-img{
    width: 45%;
    border: 1px solid yellow;
    /* height:100px; */
   
}
.games1-img img{
    display: block;
    width: 265px;
}
.games1-text{
    width: 55%;
    border: 1px solid pink; 
    padding: 25px 50px 25px 0;
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
    gap: 30px;
    
}
.games1-text button{
    padding: 13px 30px;
    background-color: #F4694C;
    color: #FFF;
    border: 1px solid #F4694C;
}
.games1-text span{
    color: #F4694C;
}
.games1-text p{
    opacity: 60%;
}
.games2{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    gap: 22px;
}
.games3{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    gap: 22px;
}
.games4{
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
    gap: 22px;
}
/* @media screen and (max-width: 480px){
    .recommended-games{
        height: 640px;
        width: 100%;
        border: 1px solid green;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
} */
