*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./Assets/Photos/futuristic-bg.png');
    background-position: center;
    background-size: cover;
    height: 65vh;
    margin: 1% 5%  0 7% ;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    /* gap: 10%; */
    color: #FFFFFF;
    justify-content: space-between;
    height: 7vh;
}
nav img{
    height: 40px;
    display: block;
    cursor: pointer;
}
nav ul{
    display: flex;
    flex: 0.8;
   
}
nav ul li{
    list-style: none;
    margin-right:25px;

}
nav ul li:hover{
color: #f39885;
cursor: pointer;

}

.nav-button button{
    padding: 10px 25px;
}
.btn-1{
    position: relative;
   background: transparent;
   color: #FFFFFF;
   border: transparent;
   
}
.btn-1:hover{
    background-color: #F4694C;
    cursor: pointer;
}
.btn-2{
    margin-left: 3px;
    background-color: #F4694C;
    cursor: pointer;
    color: #FFFFFF;
}
.btn-2:hover{
    background-color: #FFFFFF;
    color: #F4694C;
}
.hero-sec{
    border: 1px solid blue;
    margin-top: 160px;
    height: 60vh;
    display: flex;
}
.hero-left{
border: 1px solid purple;
width: 50%;
height: 60vh;
display: flex;
flex-direction: column;
justify-content: start;
color: #FFF;
gap: 7%;
}
.hero-left h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    width: 60%;
}
.hero-left p{
    /* margin-top: 3%; */
    font-size: 13px;
    color: #B4AFB0;
    width: 55%;
    line-height: 20px;
}
.left-hero-sec-div{
    display: flex;
    gap:3% ;
    margin-top: 10px;
}
.hero-left button{
    padding: 14px 25px;
}
.hero-left button :hover{
    cursor: pointer;
}
.left-btn1{
    background-color: #F4694C;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #F4694C;
}
.left-btn2{
    background: transparent;
    color: #B3B2B2;
    border: 1px solid #FFF;
}
.left-btn1:hover{
    background-color:#FFF;
    color: #F4694C;
    cursor: pointer;
    border: 1px solid #fff;
}
.left-btn2:hover{
    background-color:#FFF;
    color: #F4694C;
    cursor: pointer;
}
.hero-right{
    border: 1px solid red;
    width: 50%;
    height: 52vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-sec-logo{
    margin-top: 110px;
}
.right-sec-img1{
    height: 65px;
    
}
.right-sec-dash{
width: 30px;
display: block;
position: relative;
bottom: 33%;
}

.right-sec-dash2{
width: 43px;
display: block;
position: relative;
margin-top: 65px;
margin-left: 40px;

}
.right-sec-text{
    margin-left: 5%;
    margin-top: 110px;
    display: flex;
    color: #FFF;
    gap: 10px;
}
.right-sec-text p{
font-size: 20px;
opacity: 90%;
width: 180px;
line-height: 30px;
}
.popular-games-sec{
    height: 85vh;
    border: 1px solid gold;
}

.popular-game-div{
    border: 1px solid green;
    margin-top: 140px;
    height: 59vh;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.games-p{
    /* width: 80%; */
    margin-left: 35%;
    font-size: 200%;
    font-weight: 800;
}

.p1{
    margin-left: 10%;
}
.p2{
    width: 65%;
}
.popular-games-img{
    display: flex;
    gap: 20px;
    
}
.games-card{
    width: 50%;
    height: 40vh;
    border: 1px solid red;
    display: flex;
    gap: 20px;

}
.games-card1{
    width: 50%;
    height: 40vh;
    border: 1px solid orangered;
    background-image: url('./Assets/Photos/image\ 2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.games-text{
   padding: 15px;
    border: 1px solid rebeccapurple;
    height: 80px;
    color: #fff;
    background-color: #45494C;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}
.games-text-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px ;
    border: 1px solid red;

}

.games-text-button p{
    color:#8D9090 ;
}
.games-text-button button{
    padding: 10px 18px;
    background-color: #F4694C;
    color: #FFF;
}