* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 1440px;
    overflow-x: hidden;
    margin: auto;
    font-family: 'Metrophobic';
    font-family: 'Poppins';
}

nav {
    display: flex;
    height: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;

}

nav span {
    font-size: 12px;
}

ul {
    display: flex;
    align-items: center;


}

ul li {
    list-style: none;
    margin-right: 30px;

}

nav button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #C0A2EA;
    background-color: #ffffff;
    color: #C0A2EA;
    font-weight: 400;
}

.main-container {
    height: 80vh;
    background: linear-gradient(to bottom, #FFFFFF, #E6F3FF);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
    display: flex;
}

.left-main,
.right-main {
    width: 50%;
    height: 400px;
    margin-top: 100px;
}

.left-main-elements {
    width: 56%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-main-elements h1 {
    font-size: 3em;
    line-height: 45px
}

.left-main-elements p {
    font-weight: 530;
    opacity: 0.8;
}

.released-div {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 55%;
    height: 30px;
    background-color: #F7F1FF;
    color: #915CDC;
    border-radius: 15px;
}

.released-div span:hover {
    cursor: pointer;
    border-bottom: 1px solid #C0A2EA;
}

.relesed-btn {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

.btn-start {
    padding: 7px 18px;
    border-radius: 20px;
    background-color: #722ED1;
    color: #FFFFFF;
    border: 1px solid #722ED1;
}

.btn-free {
    padding: 7px 13px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #722ED1;
    border: 1px solid #FFFFFF;
}

.right-div-img {
    width: 500px;

    padding-left: 50px;
}

.right-img {
    width: 100%;
    min-width: 400px;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        scale: 0.6;
    }

    50% {
        scale: 1;
    }

    100% {
        scale: 0.6;
    }
}

.qubly-sec {
    width: 80%;
    height: 55vh;
    margin: 40px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.qubly-eye {
    width: 12%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    gap: 6px;
    border-radius: 28px;
    background-color: #F7F0FF;

}
.qubly-para,.qubly-h1{
    text-align: center;
}

.qubly-bottom {
    width: 70%;
    height: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.qubly-bottom-card {
    width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.bottom-h-div {
    text-align: center;
}

.bottom-p-div {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.6;
}
.launch{
    height: 55vh;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
}
.left-launch,.right-launch{
    width: 48%;
    height: 100%;
    margin: 0 auto;
   display: flex;
   justify-content: flex-end;
   padding-right: 20px;
}
.left-launch img{
    width: 75%;
  min-width: 280px;
  animation: rotate 60s linear infinite;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .left-launch img:hover{
    cursor: pointer;
    animation: none;
  }
.right-launch{
    justify-content: flex-start;
   padding-right: 5px;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
}
.right-launch-img{
    width: 33%;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 9px;
    border-radius: 20px;
    padding: 0 10px; 
    background-color: #F9F0FF; 
    color: #7938D3;
}
.right-launch-img p{
    font-size: 14px;
    font-weight: bold;
}
.right-launch-h{
    font-weight: bold;
}
.right-launch-para p{
    opacity: 0.8;
}
.pipeline{
    height: 45vh;
    width: 80%;
    margin: 20px  auto;
    padding: 20px;
    display: flex;
}

.left-pipeline, .right-pipeline{
    width: 36%;
    height: 100%;
    margin: 0 auto;
   display: flex;
}
.left-pipeline{
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 20px;

}
.right-pipeline img{
    min-width: 400px;
    animation: animate 10s linear infinite;
}
.right-pipeline img:hover{
    cursor: pointer;
    animation: none;
}
.launch-top{
    width: 50%;
}
.cto{
    height: 70vh; 
    /* background: linear-gradient(170deg, rgb(252, 246, 242), rgba(206, 223, 225, 0.618)); */
    background: linear-gradient(rgb(252, 246, 242), rgba(206, 223, 225, 0.618));
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
}
.cto-section{
    width: 60%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}
.cto-logo{
    border-top: 1px solid gray;
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.cto-logo-img{
    width: 18%;
    margin: 0 auto;
    margin-top: 20px;
}
.signup{
    width: 80%;
    height: 60vh;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.signup-left,.signup-right{
    width: 35%;
    height: 95%;

    margin: auto 0;
    padding: 10px 10px;
    
}
.signup-left{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 10px;
}
.signup-text h1{
    font-weight: bold;
    font-size: 33px;
}
.trusted-by{
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    display: flex;
    gap: 15px;
    margin-top: 30px;
    
} 
.trusted-by::before,
.trusted-by::after{
     display: inline-block;
    content: '';
    border-bottom: 1px solid rgb(200, 182, 182); 
    display: flex;
    justify-content: center;
    align-self: center;
    width: 35%;
    height: 1px;
}
.signup-logo{
    width: 100%;
    height: 70%;
    padding: 20px;
    display: grid;
    grid-template-columns: 30% 30%;
   justify-content: space-between;

}
.signup-right{
    margin-top: 20px;
    background-color: #F7EEFD;
    z-index: 1;
}
.signup-elements{
  
    z-index: 2;
    width: 90%;
   height: 100%;
   margin: 0 auto;
position: relative;
bottom: 34px;
background-color: #FFFFFF;
border-radius: 6px;

}
.signup-form{
    width: 85%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 12px;
}
.form input{
    width: 100%;
}
.signup-btn{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: #722ED1;
    color: #FFFFFF;
    border: 1px solid #722ED1 ;
}
input[type=text],input[type=password]{
    padding: 12px 12px;
    margin: 7px 0;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
    opacity: 0.7;
}
.signup-form-google img{
    width: 160px;
}
.signup-form-login{
    font-size: 13px;
    opacity: 0.7;
}
.signup-form-login span{
    opacity: 1;
    color: #722ED1;
    font-weight: bold;
}
.signup-form-line{
    width: 85%;
    height: 1px;
    background-color: gray;
    opacity: 0.4;
}
footer{
    border: 1px solid violet;
    height: 40vh;
    width: 80%;
    margin: 50px auto;
    background-color: #FBFCFF;
}
.footer-section{
    border: 1px solid black;
    height: 90%;
    width: 75%;
    margin:15px auto;
}