* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: darkgoldenrod;
}

.main-div {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.create-note {
    width: 350px;
    height: 150px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px rgb(198, 196, 196);
    padding: 10px;
}

.create-note input[type="text"] {
    margin-bottom: 10px;
    font-size: 25px;
    width: 90%;
    border-style: hidden;

}
.create-note input:focus, .create-note textarea:focus{
    outline: none;
}
.create-note textarea {
    width: 90%;
    border-style: hidden;
    font-size: 15px;
}

.add-btn {
    position: relative;
    left: 315px;
    top: 55px;
    background-color: #ff9800;
    color: #ffffff;
    font-size: 30px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon {
    font-size: large;
}
.note{
    width: 200px;
    height: 110px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px rgb(198, 196, 196);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: left;
}
.note button{
    position: relative;
    left: 170px;
    background-color: #ff9800;
    color: #ffffff;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}